<div class='row'>
	<div class='col-md-3'>

		<div class="profile">
			<div class="user_photo">

				<%= image_tag @user.avatar.url(:medium), class: 'profile_image' %>
				<div class="photo_shadow"></div>
		   </div>
		</div>

	</div>

	<div class='col-md-4'>		

		<div class="user_details">
			<div class="user_header">
				<h1 class="tk-museo-sans-rounded username upcase"> My Account </h1>
			<!--		<%= @user.username %>'s Profile</h1> -->
				
		  </div>
		</div>


<!-- 		<section class="navigation box">

		<ul class="nav">
			<li class="active">
				<a class="arrow" href="#sales">
					"
					Sales
					"
					<div class="badge blue" style="display: none;"></div>
				</a>
			</li>

			<li class>
				<a class="arrow" href="#purchases">
					"
					Purchases
					"
					<div class="badge red" style="display: none;">


					</div>
				</a>
			</li>

		</ul> 
	</section> -->
			<h5> Bought Items </h5>
			<% @bought.each do |order| %>
				<% order.products.each do |product| %>
					<li><%= product.title %>
				<%= number_to_currency product.asking_price, unit: '£' %></li>
				<% end %>
			<% end %>

			<% if @bought.empty? %>
				<h5> Seems you need to do some shopping! </h5>
			<%end%>

			<h5> Sold Items</h5>
			<% @sold.each do |product| %>
				<li><%= product.title %>
				<%= number_to_currency product.asking_price, unit: '£' %></li>
			<% end %>