<% if current_cart.products.any? %>
	<% current_cart.products.each do |product| %>
		<li>
		<%= image_tag product.image.url :thumb %>
		<%= product.title %>
		<%= product.text %>
		<%= number_to_currency product.asking_price, unit: '£' %>
 		<%= link_to 'Remove', cart_path(id: product.id),
                    method: :delete, data: { confirm: 'Are you sure?' } %> 
		</li>
		
		<%= form_tag product_charges_path(product) do %>
		  <article>
		    <label class="amount">
		      <span>Amount: <%= number_to_currency product.asking_price, unit: '£' %></span>
		    </label>
		  </article>

		<% end %>


	<% end %>
	<strong>Subtotal: <%= current_cart.total %></strong><br>
	<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
			data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			data-description="Your raggedy purchase"
			data-amount="<%= current_cart.total * 100%>"
			data-currency='gbp'></script>
<% else %>
	<h3>No products</h3>
<% end %>

