<ul class="items">

<% @products.each do |product| %>
	<li class="item" style="display: list-item;">
		<div class="item_box tk-museo-sans-rounded">
		<div class="img_box">
			<%= image_tag product.image.url(:thumb) %>
		</div>
		<h4><%= product.title %></h4>
		<p><%= product.text %></p>
		<p><%= number_to_currency product.asking_price, unit: '£' %>
	      <% if product.asking_price && product.original_price %>
	        <strong><%= product.discount %> DISCOUNT</strong>
	      <% end %>
			</div>
		</li>
	<% end %>



</ul>