<ul class="items">
<% @products.each do |product| %>
	<li class="item" style="display: list-item;">
		<div class="item_box tk-museo-sans-rounded">
			<div class="overlay">
				<a href="#" class="add_to_chart" data-have-id="">Add to Bag</a>

			</div>
		<a href="<%= product_path(product) %>" >
		<div class="img_box">
			<%= image_tag product.image.url(:thumb) %>
		</div>
     <div class="controls">
    <div class="title">
	</a>
	<a href="<%= product_path(product) %>" >
		<h4><%= product.title %></h4>
	</a>
</div>

     <div class="pricing_container">
		<p><%= product.text %></p>
		<span class='asking-price'>
    <strong><%= number_to_currency product.asking_price, unit: '£' %></strong>
    	</span>
    	<span class='original-price'>
		 	<%= number_to_currency product.original_price, unit: '£' %>
		 </span>
      <span class='product-discount'>
		<% if product.asking_price && product.original_price %>
			 (<%= product.discount %> Discount)
		</span>
	<% end %>
	<div class="want" style="display: block;"></div>
</div>



		</div>
	</li>
<% end %>
</ul>
</div>
