 <div class="col-md-3">
          <section class="filter">
            <div class="scroll-wrap">
              <div class="facet">
                <header>Shop</header>
              </div>

        <% Category.all.each do |category| %>
          <div class="facet">
            <header><%= link_to category.name, category %></header>
            <% category.sub_categories.each do |sub_category| %>
            <ul><%= link_to sub_category.name, [category, sub_category] %></ul>
            <% end %>
          </div>
        <% end %>


        <% Size.all.each do |size| %>
         <div class="facet">
          <header><%= size.name %></header>
          <% size.sub_sizes.each do |sub_size| %>
          <ul><%= link_to sub_size.name, [sub_size.size.category, sub_size] %></ul>
          <% end %>
        </div>
        <% end %>

         <div class="facet">
          <header>Max Price</header>
          <ul>
                <li><%= link_to '£25', '/shop?max_price=25' %></li>
                <li><%= link_to '£50', '/shop?max_price=50' %></li>
                <li><%= link_to '£100', '/shop?max_price=100' %></li>
                <li><%= link_to '£250', '/shop?max_price=250' %></li>
                <li><%= link_to '£500', '/shop?max_price=500' %></li>

          </ul>
        </div>

        </div>

          </section>
        </div><!--/span-->
        <div class="col-md-9">