<div id="content">

 <div class="product_info_page_half">
	<div class="product_main_image_comments">
		<div class="product_main_image_container">
			<div class="image_container" style="position: relative; overflow: hidden;">
				<p> 
				<%= image_tag @product.image.url, class: 'product_image' %>
				</p>
			</div>
			<div class="product_comments_container">
				<div class="product_comments">

				<h3>COMMENTS</h3>

				<div class="comment_boxes">
				</div>
				</div>
				<div class="comment_form">
					
					<%= render @product.comments %>
				    <h5></h5>
					<%= render "comments/form" %>
               </div>
                </div>
            </div>
        </div>
    </div>
 </div>

 <div class="product_info_page_half">
 	<div class="product_main_and_tabbed_info">
 		<div class="product_main_info">
 	
 			<h1 class="tk-museo-sans-rounded"><%= @product.title %></h1>
 			<div class="product_price_watching tk-museo-sans-rounded">
 				<div class="pricing">
		 			<span class='asking-price'>
		 				<strong><%= number_to_currency @product.asking_price, unit: '£' %></strong>
		 			</span>

		 			<span class='original-price'>
		 				<%= number_to_currency @product.original_price, unit: '£' %>
		 			</span>
                  <span class='product-discount'>
			      <% if @product.asking_price && @product.original_price %>
			        (<%= @product.discount %> Discount)
			        </span>
			      <% end %>
			

			      <div class="product_details">

			      	<p>
			      		<strong>Size:</strong>
			      		<%= @product.sub_size.name if @product.sub_size %>
			      	</p>

			      	<p>
					  <strong>Description:</strong>
					  <%= @product.text %>
					</p>
					
					<%= link_to 'Back', products_path %>
					<% if @product.user == current_user || current_admin %>
						<%= link_to 'Edit', edit_product_path(@product) %>
						<%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>

                   <br></br>   

                  </div>
                  <%= render 'add_to_cart', product: @product %>
                  <br></br>
                  <%= form_tag product_charges_path(@product) do %>
					  <article>
					    <label class="amount">
					      <span>Amount: <%= number_to_currency @product.asking_price, unit: '£' %></span>
					    </label>
					  </article>

					  <% if @product.asking_price %>
						  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
						          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
						          data-description="Your raggedy purchase"
						          data-amount="<%= @product.asking_price * 100 %>"
						          data-currency='gbp'></script>
					  <% end %>
					<% end %>
                </div>
            </div>
        </div>
 	</div>
 </div>




</div>